# Node modules and binaries
node_modules/
.bin/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Editor/IDE folders
.vscode/
.idea/

# Runtime files
pids/
*.pid
*.pid.lock

# Coverage reports
coverage/

# Build folders (in case of bundling or compiling)
build/
dist/

# MongoDB dumps
dump/
